/* ===== ALL STYLES ========================================================
   Author: Pablo Trabajos Tamayo
   ========================================================================== */
/* =============================================================================
	  Reset
   ========================================================================== */
html,body,div,p,span,ul,li {padding: 0;margin: 0; font-family: sans-serif; /*color:rgb(53, 53, 53);*/}
ul { list-style: none; }

/* http://stackoverflow.com/questions/3975769/disable-webkits-spin-buttons-on-input-type-number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* =============================================================================
	  Primary Styles
   ========================================================================== */
body { background-image:url('../img/bg-controls-grid.png');
	  background-attachment:fixed; background-color:#d8d8d8;
	  overflow:hidden;
	  }

/* =============================================================================
	  Reusable elements
   ========================================================================== */
.debug {
    background-color:rgba(255,255,255,1); border: solid 1px blue;
    color:black;
    width:150px;
    height:24px; line-height: 24px; border-radius: 12px; font-size: 12px; font-family: monospace;
    position:fixed; bottom:18px; right:18px;
    z-index:3000;
    text-align: center;
}
.tooltip { border: solid 1px white; background-color: black; color:white; }


.hidden { visibility: hidden;}
/*.title { font-size:20px; font-weight: bold; }*/
.summary { font-size:12px; line-height:17px; font-weight:normal;
          text-shadow:0px 1px 0px rgba(250, 250, 250, .4), 0px -1px 0px rgba(0, 0, 0, .4);
	  font-weight:regular;
	  margin:0px; margin-bottom:6px; }
.mini_summary { font-size:10px; font-weight:bold; text-align: right;
	        position:absolute; right:20px; top:7px; }
.help {	  font-size:11px; line-height:14px; padding-left:8px; font-style:italic;
	  margin-top:16px;
	  }
.accepted { color:#009d00;  font-weight:bold; text-shadow:0px 1px 0px rgba(250, 250, 250, .4), 0px -1px 0px rgba(0, 0, 0, .4);}
.rejected { color:#d60303; font-weight:bold; text-shadow:0px 1px 0px rgba(250, 250, 250, .4), 0px -1px 0px rgba(0, 0, 0, .4); }
.pending { color:#d5ba24;  font-weight:bold; text-shadow:0px 1px 0px rgba(250, 250, 250, .4), 0px -1px 0px rgba(0, 0, 0, .4); }
.comments { color:#17b9f7;  font-weight:bold; text-shadow:0px 1px 0px rgba(250, 250, 250, .4), 0px -1px 0px rgba(0, 0, 0, .4);}
.unactive { color:rgba(0,0,0,0.4); font-style:italic; }
.black { text-shadow:0px 1px 0px rgba(250, 250, 250, .4), 0px -1px 0px rgba(0, 0, 0, .4); }
	
.icon { margin:0; float:left; padding-left:2px; display: block;
	 font-size: inherit; line-height: inherit;
	 top:-1px; position:relative; 
	 
	 }
.icon1 { font-family: 'HeydingsControlsRegular'; color: inherit; }
.icon2 { font-family: 'HeydingsCommonIconsRegular'; color: inherit; }

/* =============================================================================
	  Topbar
   ============================================================================= */
#topbar { font-size: 1.4em; font-weight:bold; line-height:42px;
	  text-shadow: 0px -1px 0px rgba(0, 0, 0, .8), 0px 2px 0px rgba(118, 118, 163, 0.8);
	  white-space: nowrap; 
	  background-image: url('../img/bg-header.png'), -moz-linear-gradient(bottom, rgb(29, 29, 44) 0%, rgb(71, 71, 105) 100%);
	  box-shadow: inset 0px -2px 2px 0px #414141, inset 0px -2px 2px 0px #414141, 0px 1px 2px rgba(0,0,0,.3);
	  padding: 0px 60px 0px 10px;
	  height: 42px; 
	  top:0; right:0; left:0; z-index:1000;
	  position:fixed; overflow: hidden;
	  }
/*#topbar span { opacity:0.3; float:left; padding-left:28px; }*/

/*#topbar ul { list-style: none; }*/
#topbar li { color:rgb(220, 224, 226); float:left; padding-left:1%; padding-right:4% ;
             background-image: url('../img/arrow.png'); background-position: top right, top left; background-repeat: no-repeat;
	  }
#topbar li:hover { background-color: rgba(10, 10, 10, .2); }  
#topbar li:last-child { background-image: none; padding-right: 14px; }

/* =============================================================================
	  Sidebar
   ============================================================================= */
#sidebar { min-height:220px; width:160px;
	  z-index:50; position:fixed; top:42px; bottom:0; left:0; 
	  padding: 8px; margin:0px;
	  }
.btn_box_top { position:absolute; right:12px; left:12px; top:24px; }
.btn_box_bottom { position:absolute; right:12px; left:12px; bottom:24px; }
    
/* =============================================================================
	  View
   ============================================================================= */
#view { padding: 0px 0px 0px 0px; 
	  position:fixed; top:42px; right:0; bottom:0; left:178px;
	  overflow:auto;
	  }
#view>.item:first-child { margin-top: 60px; }


/* =============================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 555px) {
	/* Style adjustments for viewports that meet the condition */
	footer{ display:none; }
	#topbar {font-size: 18px;}
/*	.btn{ padding-left:0; padding-right:0; }
	.icon1,.icon2 { visibility: hidden; }*/
}
@media screen and (max-width: 460px) {
	/* Style adjustments for viewports that meet the condition */
	footer{ display:none; }
	#topbar {font-size: 14px;}
}
/*@media screen and (max-width: 1000px) {
	#view {left:168px;}
}*/
