
/* =============================================================================
	  Controls
   ========================================================================== */
.container { border: solid 1px #bebebe; border-radius:8px;
        padding: 8px; float:left;
    }
    
.header {
        border-bottom: solid 1px #bebebe; margin-bottom: 15px; padding-top:24px; margin-right:12px;
        clear:both;
        
}

/* =============================================================================
	  Buttons
   ========================================================================== */
.btn { -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none;
	  cursor:pointer; color:rgb(53, 53, 53);
	  margin:auto; clear:both;
	  font-weight:normal;
	  text-align:center; font-size:12px; line-height:28px;
	  border-radius:8px;
 	  background-color: rgb(146, 164, 173);
	  border: solid 1px #bebebe;
	  background-origin:content-box; background-image:url('../../../HTML/img/bg-controls.png');
	  }


.btnM { margin-bottom:8px; padding:2px 5px; max-width:200px; height:28px; }

.btnH { float:left; clear: none;
	  padding-left:0; padding-right:0; 
}
.btnM.left {  border-right:none;
	  border-radius:8px 0px 0px 8px;
	  width:49%;
	  }

.btnM.center { padding-left:0; padding-right:0;
	  border-width: 1px  0px;
	  border-radius:0px;
	  width:33%;
	  }
.btnM.right { 
	  border-radius:0px 8px 8px 0px;
	  width:49%;
	  }

.btnM.btnV { clear:both;
	  margin:0px;
	  height:20px;
	  line-height: 20px;
}
.btnM.top { border-radius: 8px 8px 0px 0px; }
.btnM.middle { 	 border-radius:0px;
		 border-top-width: 0px;
}
.btnM.bottom {   border-top-width: 0px;
	  	 border-radius: 0px;
	  	 border-radius: 0px 0px 8px 8px;
		 margin-bottom: 16px;
}





/* EN PRUEBAS para ver el efecto del botón pulsado */	  
.btnM.pushed { background-image:url('../../../HTML/img/bg-controls-darkest.png');
		  padding-top:3px; padding-bottom:1px;
		  box-shadow:inset 0px 0px 6px 1px rgba(0,0,0,.5); color:white;
	  }
.btnM:hover { background-image:url('../../../HTML/img/bg-controls-dark.png');
		  color:white;
                   box-shadow: inset 0px 0px 6px 1px rgba(250,250,250,.2); border-color: transparent;
		      }
.btnM:active { background-image:url('../../../HTML/img/bg-controls-darkest.png');
		  padding-top:3px; padding-bottom:1px;
		  box-shadow:inset 0px 0px 6px 1px rgba(0,0,0,.5);
	      }
.btnM.delete:hover { background-image:url('../../../HTML/img/bg-controls-dark-delete.png');
                     box-shadow: 0px 0px 6px #ff1f34, inset 0px 0px 6px 1px rgba(250,250,250,.2); border-color: transparent;
		      }
.btnM.delete:active { background-image:url('../../../HTML/img/bg-controls-darkest-delete.png');
		    box-shadow:  0px 0px 6px #ff1f34, inset 0px 0px 6px 1px rgba(0,0,0,.5);
                }
