/* =============================================================================
	  Comment add box widget
   ========================================================================== */
.comment_add  {
	font-size: 10px;
	position: absolute;
	width: 140px;
	bottom: 0px;
	line-height:16px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, .6), 0px 1px 0px rgba(0, 0, 0, .6), 1px 0px 0px rgba(0, 0, 0, .6), -1px 0px 0px rgba(0, 0, 0, .6); color: white;
	background-color: rgb(146, 164, 173);
	border: solid 1px #bebebe; padding: 6px; border-radius: 8px 8px 0px 0px;
	background-origin:content-box; background-image:url('../../img/bg-controls.png');
}

.comment_add textarea {
	width: 100%; height: 64px; border: none; resize: none; font-size: 12px; margin: 4px 0px;
}

.page.even  > .comment_add {
	right: 16px; 
}
.page.odd  > .comment_add {
	left: 16px; 
}

/* =============================================================================
	  List for adding pages for comment assignment
   ========================================================================== */
.page_selection {
	margin: 4px 0px;
	max-height: 70px; overflow-y: scroll;
}
   
.page_selection input { 
	width: 10px;
}

.page_selection label { 
	width: 18px; text-align: center;
	display: inline-block; margin: 3px;
}

/* =============================================================================
	  Widget showing added comments
   ========================================================================== */
.comment_array {
	position: absolute; top: 32px;
	width: 170px;
}

.page.odd  > .comment_array {
	right: 38px;
}

.page.even  > .comment_array {
	left: 38px;
}

.comment_box {
	color: white; font-size: 11px;
	background: rgba(0,0,0,.7);
	padding:0px; border-radius: 2px;
	box-shadow: 0px 2px 4px rgba(0,0,0,.5);
	margin-bottom: 2px;
	border: solid white 2px;
	z-index: 1500; position: relative;
	}

.comment_box a { 
	/* Do not allow links to other pages to be split between page_num and rev_num.
	   Do not use 'white-space:nowrap' as this does allow the text to overflow.
	*/
	display: inline-block;
}

.comment_box h3, h4  {
	text-wrap: break-word;
}

.comment_box h3  {
	color: rgb(23, 185, 247); padding: 4px; 
}

.comment_box h4 {
	margin: 5px 0px 2px 0px; 
}

.affects_too { 
	background-color: rgba(170,170,200,.2);
	padding: 1px 6px 8px 6px;
	position:relative; 
}

.btn_show_more {
	position:absolute; top:-15px; right:-3px;
	background-color:green;
	border-radius: 15px; font-size:8px; text-align: center; line-height: 15px;
	width:30px; height:30px;
}

