/* =============================================================================
	  Job widget
   ============================================================================= */
.folder { background-color: #b0d993; /* Fallback for non rgba browsers */ float:left;
	    box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, .2),  inset 0px 1px 0px rgba(250, 250, 250, .6), 2px 2px 1px 0px rgba(0, 0, 0, .1);
	    background-image: url('../../img/256-67-6-monochrome.png'); background-color: rgba(176,217,147,1);
	    background-image: url('../../img/256-67-6-monochrome.png'), -moz-linear-gradient(center top, rgb(225, 222, 194) 10%, rgb(176, 158, 135) 100%); 
	    background-image: url('../img/256-67-6-monochrome.png'), -webkit-gradient(linear, left bottom, left top, from(#cbe3ba), to(#a6cc8b));
	    padding:8px 8px 8px 8px; border-radius: 0px 4px 0px 0px;
	    width:60px; position:relative; margin-top: 12px;
	    height: 30px; overflow: visible;
}
	
.tab { position:absolute; top:-12px; left:0px; width:40%; height:12px;
	    box-shadow: inset 0px 1px 0px rgba(250, 250, 250, .6), 2px 2px 1px 0px rgba(0, 0, 0, .1); border-radius: 4px 4px 0px 0px;
	    background-image: url('../../img/256-67-6-monochrome.png'); 
	    background-color: rgb(225, 222, 194);
	    background-image: url('../../img/256-67-6-monochrome.png'), -moz-linear-gradient(center top, rgb(225, 222, 194) 20%, rgba(176, 158, 135, .2) 100%); 
	    background-image: url('../img/256-67-6-monochrome.png'), -webkit-gradient(linear, left bottom, left top, from(#cbe3ba), to(#a6cc8b)); z-index:-1;
}
