
/* =============================================================================
	  Item Contents (shows the Pages inside an Item in
	  two forms: thumbs and list)
   ============================================================================= */
#view ul { min-width:600px; height:40px; line-height:40px;
    clear:both; 
    font-size: 12px; text-align: center; 
    list-style: none;    
    border-bottom:none;
	padding: 0 40px 0 40px;
	-moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none;
	cursor:pointer;
}
#view li { float: left;}

.list_header {  text-overflow:ellipsis; white-space: nowrap; 
                z-index: 100; 
                position:absolute; top:0px; left:0px; right:0px; font-weight:bold;
}
.list_header li:hover { background-color: rgba(143, 196, 200, 0.2); 
					  box-shadow: inset 0px 0px 3px 2px rgba(143, 196, 200,.6); 
					  border-radius:3px; 
}
.list_header.scrolled {
                    background: -moz-linear-gradient(rgb(216, 216, 216) 0%, rgb(216, 216, 216) 95%, rgba(216, 216, 216, 1) 96%, rgba(100, 100,100, 0) 100%); /* FF3.6+ */
                    transition-property: background;
                    transition-duration: 4s;
                    transition-delay: 2s;
}
li.checkbox { width:7%; }
li.page { width:10%; }
#view .list_container li.page { text-align:right; width:7%; padding-right:3%; }
li.comments { width:10%; }
li.revisions { width:10%; }
li.status { width:18%; font-weight:bold; }
li.updated { width:22%; } 
li.added { width:22%; }
li.twolines { padding:4px 0; line-height:16px; font-size:11px; } /* Half the line-height to fit two lines.*/

.list_container { 
    position:absolute; top:40px; left:0px; right:0px; bottom:0;
    text-overflow:ellipsis; white-space: nowrap; 
	}
.list_container ul:nth-child(odd) { background-color: rgba(174, 176, 191, 0.2); }
.list_container ul:hover { background-color: rgba(143, 196, 200, 0.2); box-shadow: inset 0px 0px 3px 2px rgba(143, 196, 200,.6); }

